<div id="used" class="col-sm-6">
    <h2>Included functionality</h2>
    <div class="result col-xs-12" style="height: 300px; border: 1px blue solid;">
        <div class="whitelist"></div>
        <div class="blacklist"></div>
        <div class="structure"></div>
    </div>
</div>