<div id="used" class="col-sm-6">
    <h2>Included functionality</h2>
    <div class="result col-xs-12" style="height: 300px; border: 1px blue solid;">
        <% Object.keys(nodes).forEach(function (key, i) { %>
            <p><%= key %> x <%= nodes[key] %></p>
        <% }) %>
    </div>
</div>