<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Challenger</title>
<!--    <link rel="shortcut icon" href="/img/favicon.ico">-->
    <link rel="stylesheet" href="/css/style.css">
    
    <script type="text/javascript" src="/js/require.js" data-main="/js/require_main"></script>
</head>

<body>