<% include header %>
<div class="container">
    <div class="row">
        <h1>JS Challenger, <%= name %></h1>
        <div class="col-sm-12">
            <div class="col-sm-4">
                <h2>Code entry</h2>
                <p>Enter your code in the text area to the right.</p>
                <button id="go-acorn" class="btn btn-large btn-danger col-xs-offset-4">Check now</button>
            </div>
            <div class="col-sm-8">
                <textarea name="codeentry" rows="10" cols="60"></textarea>
            </div>
        </div>
        <div id="quals" class="col-sm-6">
            <h2>Qualifications</h2>
            <div class="result col-xs-12" style="height: 300px; border: 1px red solid;">
                <div class="whitelist"></div>
                <div class="blacklist"></div>
                <div class="structure"></div>
            </div>
        </div>
        <% include acorn-result %>
    </div>
</div>
<% include footer %>